/* RESET BÁSICO DA HOME */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
/* CONTEÚDO PRINCIPAL */
main {
    width: 100%;
    display: block;
}

.fundo-tecnologico {
    width: 100%;
    height: 420px; 
    background-image: url("../Img/FundoInnova.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.conteudo {
    padding: 40px 0;
}

section {
    height: auto;
    min-height: unset;
}
